.header-black {
    background-color: black;

}

img {
    width: 100%;
}

.sony {
    padding: .8rem;
}

.sony-logo {
    width: 80px;
}

.returnal {
    background-image: url(img-5/jumbo-bg.png);
    background-position: center;
    /* margin-top: 200px; */
    height: 593px;
    display: flex;
    padding-top: 10rem;
}

main {
    margin-top: 3rem;
}

.yellow-logo {
}

.btn-red {
    background-color: #CD3D0F;
    border-radius: 10rem;
}

.radius {
    border-radius: 20px;
}

h5 {
    color: #0070D1;
}

h5:hover {
    color: #0070D180;
    cursor: pointer;
}

.faded {
    opacity: .5;
}

.faded:hover {
    opacity: 1;
    border-bottom: 3px solid #0070D1;
    cursor: pointer;
}

.ittakes2 {
    background-image: url(img-5/it-takes-two-hero-banner-desktop.jpg);
    height: 596px;
    background-position: center;
    margin-top: 5rem;
}

.new {
    background-color: #1F1F1F;
}

.explore {
    margin: 3rem 0;
}

.grey-bg {
    background-color: #BEBCBB;
}

.btn-psplus {
    background-color: #D9DADC;
    color: #0070D1;
}

@media screen and (max-width: 767px) {
    .monthly {
        display: none;
    }
}