header {
	margin-top: 125.59px;
}

.header-black {
    background-color: black;

}

img {
    width: 100%;
}

.sony {
    padding: .8rem;
}

.sony-logo {
    width: 80px;
}

.dropdown {
	position: static;
}

.dropdown-menu[data-bs-popper] {
	width: 100%;
	margin-top: 0;
}

.dropdown-menu {
	border: none;
	border-radius: 0;
}

.dropdown-menu.show {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.dropdown-item {
	text-align: center;
}

.dropdown-item img {
	display: block;
	width: 100%;
}

.lens {
    width: 20px;
    margin: 0 5px;
}

.returnal {
    background-image: url(img-5/jumbo-bg.png);
    background-position: center;
    background-size: cover;
    height: 593px;
    display: flex;
    padding-top: 10rem;
}

.cards {
    margin: 3rem 0;
}

.cards-hover {
    transition: 1s;
}

.cards-hover:hover {
    transform: translate(0, -5px);
}

.yellow-logo {
}

.btn-red {
    background-color: #CD3D0F;
    border-radius: 10rem;
}

.radius {
    border-radius: 20px;
}

h5 {
    color: #0070D1;
}

h5:hover {
    color: #0070D180;
    cursor: pointer;
}

.faded {
    opacity: .5;
}

.faded:hover {
    opacity: 1;
    border-bottom: 3px solid #0070D1;
    cursor: pointer;
}

.ittakes2 {
    background-image: url(img-5/it-takes-two-hero-banner-desktop.jpg);
    height: 596px;
    background-position: center;
    margin-top: 5rem;
}

.new {
    background-color: #1F1F1F;
}

.new-card {
    transition: .5s;
}

.new-card:hover {
    cursor: pointer;
    opacity: .5;
}

.explore-container {
    margin: 3rem 0;
}

.explore {
    margin: 3rem 0;
}

.grey-bg {
    background-color: #BEBCBB;
}

.btn-psplus {
    background-color: #D9DADC;
    color: #0070D1;
}

.psstore-container {
    margin: 3rem 0;
}

.psnow {
    background-color: #161C3B;
}

.socials-title {
    margin: 3rem 0;
}

.social-logo {
    transition: .5s;
}

.social-logo:hover {
    scale: 1.05;
    cursor: pointer;
}

.container-social {
    max-width: 700px;
    margin: 0 auto;
    padding: 0 1rem 3rem;
}

.footer {
    background-color: #00439C;
}

.pslogo {
    width: 96px;
    margin: 30px 0;
}

.globe {
    width: 20px;
    display: inline;
    margin-right: 14px;
}

.sie {
    width: 129px;
    margin: 30px 0 10px;
}

.remove {
    list-style-type: none;
}

.footer-link {
    text-decoration: none;
    white-space: nowrap;
    color: white;
}

@media screen and (max-width: 767px) {
    .monthly {
        display: none;
    }
}